<% unless comment.archived? %>
  <p>
    <strong><%= comment.commenter %>:</strong>
    <%= comment.body %>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
    <%= link_to "Archive Comment", archive_article_comment_path(comment.article, comment), data: {
                  turbo_method: :put,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
<% end %>
