<% unless comment.archived? %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
    <%= link_to "Archive Comment", archive_article_comment_path(comment.article, comment), data: {
                  turbo_method: :put,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
<% end %>
