<main class="container">
  <%= link_to sanitize("&larr; Back to tasks"), tasks_path %>

  <div class="header">
    <h1>New task</h1>
  </div>

  <%= turbo_frame_tag @task do %>
    <%= render "form", task: @task %>
  <% end %>
</main>
